<ion-view view-title="home">
	<ion-header-bar align-title="left" class="bar-positive">
		<div class="home-top-nav">
			<ul>
				<li>一楼</li>
				<li>二楼</li>
			</ul>
		</div>
	</ion-header-bar>
	<ion-content>
		<a href="#/test">test</a>
		{{aa}}
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-stable bar bar-footer home-footer">
		<div class="home-button" ng-click='login()'>
			<button class="button button-assertive">注销</button>
		</div>
		<div class="home-button">
			<button class=" button button-balanced">刷新</button>
		</div>
	</ion-footer-bar>
</ion-view>