<ion-view view-title="test">
	<ion-header-bar align-title="left" class="bar-positive">
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button>
				返回
			</ion-nav-back-button>
			<div class="buttons right-buttons">
				<button class="button">
					右侧按钮
				</button>
			</div>
		</ion-nav-bar>
		<h1 class="title">Title!</h1>
		<div class="buttons">
			<button class="button">右侧按钮</button>
		</div>
	</ion-header-bar>
	<ion-content>
		一些内容!
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-assertive">
		<div class="buttons">
			<button class="button">左侧按钮</button>
		</div>
		<h1 class="title">Title!</h1>
		<div class="buttons" ng-click="doSomething()">
			<button class="button">右侧按钮</button>
		</div>
	</ion-footer-bar>
</ion-view>